@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

.header{
    height: 890px;
    background: url('https://images.unsplash.com/photo-1611080027147-a1a0b6e05168?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80');
    background-size: cover;
    background-repeat:no-repeat;
    
}

.contenedor{
   width:90%;
   margin: 0 auto;
   height:890px;
   align-items: center;
}



.logo{
    font-weight: bold;
    font-size: 4.5rem;
    color: #000000;
    text-align: center;
}

.nav{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.nav a{
    text-decoration:none;
    color: #52325d;
    font-size: 2.5rem;
    margin: 5px  auto;
}



a:hover{
    border-bottom: solid 1px #000;
    color: #000;
}

@media(min-width: 768px){
    .contenedor{
        display: grid;
        width:90%;
        grid-template-columns: repeat(2,1fr);
        column-gap: 10rem;
        align-content: center;
      
    }
    .nav{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0px; 
        
    }
    
    .logo{
        font-size: 2.5rem;
        margin-right: 50px;
    }
}


  
.principal{
    background-color: rgb(155, 128, 121,.4);
    margin-top:-33px;
    
}

.contenedor-principal{
    width:80%;
    margin: 0 auto;
    

}
.tarjeta-zapato{
    margin: 0 12px;
}

.titulo-tarjeta{
  text-align: center;
  
}

.tarjeta-zapato img{
    width:100%;
    margin: 0 20%;
    height: 200px;
    border-radius:5px;
    cursor: pointer;
    
}




.overlay{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height:100%;
    top:0;
    display: grid;
    place-items: center;
}

.fijar-body {
    overflow: hidden;
}






@media (min-width:768px){
    .row{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 50px;
    }
}

/*Estilos blog*/

bg-principal{
    background:#dfcbc4;
}



.contenedorArt{
    display:grid;
    grid-template-columns: 60% 40%;
    padding: 5px 0;
}

.textoArticulo{
    line-height: 2;
    font-weight: bold;
    font-size: 16px;
 
}

.imgArticulo{
    width: 100%;
    height:500px;
}

.articulo{
    display:none;
}

 h2{
     text-align: center;
    font-size:2.5rem;
    padding-top: 15px;
}

.articulo:first-of-type{
    display:block;
}

.textoArticulo{
  padding: 5rem;
}

.paginacion{
    display:flex;
    justify-content:space-between;
    padding: 15px 0;
}

.paginacion button{
    border: 1px solid;
    background-color:#fff;
    color:#d15a1a;;
    font-size:2.5rem;
    padding:1rem;
    border-radius: 1rem;
    font-weight:bold
}

.paginacion button:hover{
    cursor:pointer;
    border:1px solid;
    background-color:#d15a1a;
    color: #fff;
}

